@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="home-banner-area mb-4 pt-3">
    <div class="container">
        <div class="row gutters-5 position-relative">
            <div class="col-lg-9">
                <div class="aiz-carousel dots-inside-bottom mobile-img-auto-height" data-arrows="true" data-dots="true" data-autoplay="true">
                    <div>
                        <div class="carousel-box " style="width: 100%; display: inline-block;">
                            <a href="/product">
                                <img class="d-block mw-100 img-fit shadow-sm overflow-hidden" src="~/img/slickslide/slickslide2.jpg" alt="Chợ Nông Sản Online promo" onerror="this.onerror=null;this.src='/img/placeholder-rect.jpg';">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="carousel-box" style="width: 100%; display: inline-block;">
                            <a href="/product">
                                <img class="d-block mw-100 img-fit shadow-sm overflow-hidden" src="~/img/slickslide/slickslide3.jpg" alt="Chợ Nông Sản Online promo" onerror="this.onerror=null;this.src='/img/placeholder-rect.jpg';">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-lg-block position-static banner-right-home">
                <div class="item">
                    <a href="/product"><img src="~/img/traicay.jpg" alt="Chợ Nông Sản Online banner right" onerror="this.onerror=null;this.src='/img/placeholder-rect.jpg';"></a>
                </div>
                <div class="item">
                    <a href="/product"><img src="~/img/sale.jpg" alt="Chợ Nông Sản Online banner right" onerror="this.onerror=null;this.src='/img/placeholder-rect.jpg';"></a>
                </div>
                <div class="item">
                    <a href="/product"><img src="~/img/ocop.jpg" alt="Chợ Nông Sản Online banner right" onerror="this.onerror=null;this.src='/img/placeholder-rect.jpg';"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section_best_sellers">
    <section class="mb-4">
        <div class="container">
            <div class="px-2 py-4 px-md-4 py-md-3 bg-white shadow-sm rounded">
                <div class="d-flex mb-3 align-items-baseline border-bottom">
                    <h3 class="h5 fw-700 mb-0">
                        <span class="border-bottom border-primary border-width-2 pb-3 d-inline-block">Gian hàng phổ biến</span>
                    </h3>
                    <a href="/product" class="ml-auto mr-0 btn btn-primary btn-sm shadow-md">Xem tất cả người bán</a>
                </div>
                <div class="gutters-10 row">
                    <div class="col-lg-4">
                        <div class="carousel-box" style="width: 100%; display: inline-block;">

                            <div class="row no-gutters box-3 align-items-center border border-light rounded hov-shadow-md my-2 has-transition">
                                <div class="col-4">
                                    <a href="/product" class="d-block p-3" tabindex="0">
                                        <img src="/img/brand/mocsuong.jpg" data-src="" alt="Hạt Điều Cennuts" class="img-fluid lazyload">
                                    </a>
                                </div>
                                <div class="col-8 border-left border-light">
                                    <div class="p-3 text-left">
                                        <h2 class="h6 fw-600 text-truncate">
                                            <a href="/product" class="text-reset" tabindex="0">Công ty TNHH Chè Mộc Sương</a>
                                        </h2>
                                        <div class="rating rating-sm mb-2">
                                            <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                        </div>
                                        <a href="/product" class="btn btn-soft-primary btn-sm" tabindex="0">
                                            Xem gian hàng <i class="las la-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="carousel-box" style="width: 100%; display: inline-block;">
                            <div class="row no-gutters box-3 align-items-center border border-light rounded hov-shadow-md my-2 has-transition">
                                <div class="col-4">
                                    <a href="/product" class="d-block p-3" tabindex="0">
                                        <img src="/img/brand/caphesonla.jpg" data-src="" alt="CHÈ STORE" class="img-fluid lazyload">
                                    </a>
                                </div>
                                <div class="col-8 border-left border-light">
                                    <div class="p-3 text-left">
                                        <h2 class="h6 fw-600 text-truncate">
                                            <a href="/product" class="text-reset" tabindex="0">Công ty TNHH Cà phê Sơn La</a>
                                        </h2>
                                        <div class="rating rating-sm mb-2">
                                            <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                        </div>
                                        <a href="/product" class="btn btn-soft-primary btn-sm" tabindex="0">
                                            Xem gian hàng <i class="las la-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="carousel-box" style="width: 100%; display: inline-block;">
                            <div class="row no-gutters box-3 align-items-center border border-light rounded hov-shadow-md my-2 has-transition">
                                <div class="col-4">
                                    <a href="/product" class="d-block p-3" tabindex="0">
                                        <img src="/img/brand/congtynongsan.jpg" data-src="" alt="Thời Trang OnlyTee" class="img-fluid lazyload">
                                    </a>
                                </div>
                                <div class="col-8 border-left border-light">
                                    <div class="p-3 text-left">
                                        <h2 class="h6 fw-600 text-truncate">
                                            <a href="/product" class="text-reset" tabindex="0">Công ty CP chế biến nông sản BHL Sơn La</a>
                                        </h2>
                                        <div class="rating rating-sm mb-2">
                                            <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                        </div>
                                        <a href="/product" class="btn btn-soft-primary btn-sm" tabindex="0">
                                            Xem gian hàng <i class="las la-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="section_newest"></div>
<div id="section_featured"></div>
<div id="section_best_selling"></div>
<!-- Auction Product -->
<!--Chợ phiên-->
<div id="section_market_categories">
    <section class="mb-4">
        <div class="container">
            <div class="px-2 py-4 px-md-4 py-md-3 bg-white shadow-sm rounded">
                <div class="d-flex mb-3 align-items-baseline border-bottom">
                    <h3 class="h5 fw-700 mb-0">
                        <span class="border-bottom border-primary border-width-2 pb-3 d-inline-block">Chợ Phiên</span>
                    </h3>
                    <a href="/" class="ml-auto mr-0 btn btn-primary btn-sm shadow-md">Xem thêm</a>
                </div>
                <div class="row gutters-10">
                    <div class="col-md-6">
                        <div class="mb-3 mb-lg-0">
                            <a href="/product" class="d-block text-reset">
                                <img src="~/img/chophien.jpg" data-src="" alt="Chợ Nông Sản Online promo" class="img-fluid lazyload w-100">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 mb-lg-0">
                            <div class="h5 fw-700 mb-0">
                                <span class="border-bottom border-primary border-width-2 pb-3 d-inline-block">Chợ phiên Chiềng Mung</span>
                            </div>
                            <div class="activity-wrap">
                                <span>Từ ngày: <strong>08/08/2024</strong> đến ngày: <strong>12/08/2024</strong></span>
                               @*  <div id="odometer-wrapper" class="odometer-wrapper">
                                    <div class="odometer-text">Kết thúc</div>
                                    <p id="odometer-days" class="odometer odometer-auto-theme"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span></div></p><p></p><p></p>
                                    <div class="odometer-colon days-colon">ngày</div>
                                    <p id="odometer-hours" class="odometer odometer-auto-theme"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span></div></p><p></p><p></p>
                                    <div class="odometer-colon">:</div>
                                    <p id="odometer-minutes" class="odometer odometer-auto-theme"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span></div></p><p></p><p></p>
                                    <div class="odometer-colon">:</div>
                                    <p id="odometer-seconds" class="odometer odometer-auto-theme"><div class="odometer-inside"><span class="odometer-digit"><span class="   -digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span></div></p>
                                </div> *@
                            </div>
                            <div>
                                <p>
                                    Ngay từ sáng sớm Chợ Phiên ở Chiềng Mung thu hút đông đảo người dân tham quan, mua sắm, tạo không khí chợ phiên càng trở nên rộn ràng, đầm ấm. Chợ phiên được tổ chức vào sáng ngày 08/08/2024, bày bán phong phú các mặt hàng nông sản, nhu yếu phẩm, sản phẩm thủ công mỹ nghệ của địa phương. Nhiều mặt hàng đặc trưng như thịt trâu bò hun khói, lạp xưởng, chẩm chéo, mật ong rừng…….
                                </p>
                            </div>
                            <div>
                                <span>Bản Nà Si, Xã Chiềng Mung</span>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<div id="section_home_categories">
    <section class="mb-4">
        <div class="container">
            <div class="px-2 py-4 px-md-4 py-md-3 bg-white shadow-sm rounded">
                <div class="d-flex mb-3 align-items-baseline border-bottom">
                    <h3 class="h5 fw-700 mb-0">
                        <span class="border-bottom border-primary border-width-2 pb-3 d-inline-block">Sản phẩm tiêu biểu</span>
                    </h3>
                    <a href="/categories" class="ml-auto mr-0 btn btn-primary btn-sm shadow-md">Xem thêm</a>
                </div>
                <div class="contain-banner">

                    <div class="col-md-3">
                        <a href="/categories"><img src="~/img/sanphamchatluong.png" data-src="" alt="Chợ Nông Sản Online promo" class="img-fluid lazyload w-100 h-100 pb-3 pt-1"></a>
                    </div>
                    <div class="col-md-9">
                        <div class="aiz-carousel gutters-10 half-outside-arrow" data-rows="2" data-md-rows="1" data-sm-rows="1" data-items="4" data-xl-items="4" data-lg-items="3" data-md-items="2" data-sm-items="2" data-xs-items="2" data-arrows="true">
                            @foreach (var product in Model.Products)
                            {
                                <div>
                                    <div class="carousel-box" style="width: 100%; display: inline-block;">
                                        <div class="aiz-card-box border border-light rounded hov-shadow-md mt-1 mb-2 has-transition bg-white">
                                            <div class="position-relative">
                                                <a href="/product/@product.Slug-@product.Id" id="@product.Id" name="@product.Name" class="d-block" tabindex="-1">
                                                    <img class="img-fit mx-auto ls-is-cached lazyloaded" src="@product.Image.Split('|')[0]" data-src="@product.Image.Split('|')[0]" alt="@product.Name" onerror="this.onerror=null;this.src='/img/placeholder.jpg';">
                                                </a>
                                                <div class="absolute-top-right aiz-p-hov-icon">
                                                    <a href="javascript:void(0)" onclick="addToWishList(@product.Id)" data-toggle="tooltip" data-title="Thêm vào danh sách yêu thích" data-placement="left" tabindex="-1">
                                                        <i class="la la-heart-o"></i>
                                                    </a>

                                                    <a href="javascript:void(0)" onclick="showAddToCartModal(@product.Id)" data-toggle="tooltip" data-title="Thêm vào giỏ hàng" data-placement="left" tabindex="-1">
                                                        <i class="las la-shopping-cart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="p-md-3 p-2 text-left">
                                                <div class="fs-16">
                                                    <span class="fw-700 text-primary">@product.Price.ToString("N0") @product.UnitPrice</span>
                                                </div>
                                                <div class="rating rating-sm mt-1">
                                                    <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                </div>
                                                <h3 class="fw-600 fs-16 text-truncate-2 lh-1-4 mb-0 h-37px">
                                                    <a href="/Product/@product.Slug-@product.Id" class="d-block text-reset" tabindex="-1">@product.Name</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<section class="mb-4">
    <div class="container">
        <div class="row gutters-10">
            <div class="col-lg-6">
                <div class="d-flex mb-3 align-items-baseline border-bottom">
                    <h3 class="h5 fw-700 mb-0">
                        <span class="border-bottom border-primary border-width-2 pb-3 d-inline-block">Top 10 danh mục</span>
                    </h3>
                    <a href="#" class="ml-auto mr-0 btn btn-primary btn-sm shadow-md">Xem tất cả danh mục</a>
                </div>
                <div class="row gutters-5">
                    <div class="col-sm-6">
                        <a href="/product" class="bg-white border d-block text-reset rounded p-2 hov-shadow-md mb-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-3 text-center">
                                    <img src="~/img/products/mackhen.jpg" data-src="" alt="Xoài" class="img-fluid img lazyload h-60px" onerror="this.onerror=null;this.src='/img/placeholder.jpg';">
                                </div>
                                <div class="col-7">
                                    <div class="text-truncat-2 pl-3 fs-14 fw-600 text-left">
                                        Mắc khén
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <i class="la la-angle-right text-primary"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/product" class="bg-white border d-block text-reset rounded p-2 hov-shadow-md mb-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-3 text-center">
                                    <img src="/img/products/hatdoi.jpg" data-src="" alt="Ổi" class="img-fluid img lazyload h-60px" onerror="this.onerror=null;this.src='/img/placeholder.jpg';">
                                </div>
                                <div class="col-7">
                                    <div class="text-truncat-2 pl-3 fs-14 fw-600 text-left">
                                        Hạt dổi
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <i class="la la-angle-right text-primary"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/product" class="bg-white border d-block text-reset rounded p-2 hov-shadow-md mb-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-3 text-center">
                                    <img src="/img/products/samcau.jpg" data-src="" alt="Thanh long" class="img-fluid img lazyload h-60px" onerror="this.onerror=null;this.src='/img/placeholder.jpg';">
                                </div>
                                <div class="col-7">
                                    <div class="text-truncat-2 pl-3 fs-14 fw-600 text-left">
                                        Sâm Cau
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <i class="la la-angle-right text-primary"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/product" class="bg-white border d-block text-reset rounded p-2 hov-shadow-md mb-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-3 text-center">
                                    <img src="/img/products/matongrung.jpg" data-src="" alt="Sầu riêng" class="img-fluid img lazyload h-60px" onerror="this.onerror=null;this.src='/img/placeholder.jpg';">
                                </div>
                                <div class="col-7">
                                    <div class="text-truncat-2 pl-3 fs-14 fw-600 text-left">
                                        Mật ong rừng
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <i class="la la-angle-right text-primary"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/product" class="bg-white border d-block text-reset rounded p-2 hov-shadow-md mb-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-3 text-center">
                                    <img src="/img/products/thittraugacbep.jpg" data-src="" alt="Măng cụt" class="img-fluid img lazyload h-60px" onerror="this.onerror=null;this.src='/img/placeholder.jpg';">
                                </div>
                                <div class="col-7">
                                    <div class="text-truncat-2 pl-3 fs-14 fw-600 text-left">
                                        Thịt trâu gác bếp
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <i class="la la-angle-right text-primary"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/product" class="bg-white border d-block text-reset rounded p-2 hov-shadow-md mb-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-3 text-center">
                                    <img src="/img/products/chetaxua.jpg" data-src="" alt="Nhãn lồng" class="img-fluid img lazyload h-60px" onerror="this.onerror=null;this.src='/img/placeholder.jpg';">
                                </div>
                                <div class="col-7">
                                    <div class="text-truncat-2 pl-3 fs-14 fw-600 text-left">
                                        Chè
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <i class="la la-angle-right text-primary"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex mb-3 align-items-baseline border-bottom">
                    <h3 class="h5 fw-700 mb-0">
                        <span class="border-bottom border-primary border-width-2 pb-3 d-inline-block">Top 10 thương hiệu</span>
                    </h3>
                    <a href="/product" class="ml-auto mr-0 btn btn-primary btn-sm shadow-md">Xem tất cả các thương hiệu</a>
                </div>
                <div class="row gutters-5">
                    <div class="col-sm-6">
                        <a href="#" class="bg-white border d-block text-reset rounded p-2 hov-shadow-md mb-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-4 text-center">
                                    <img src="/img/placeholder.jpg" data-src="/" alt="Trà Mãng Cầu Kim Nhiên" class="img-fluid img lazyload h-60px" onerror="this.onerror=null;this.src='/img/placeholder.jpg';">
                                </div>
                                <div class="col-6">
                                    <div class="text-truncate-2 pl-3 fs-14 fw-600 text-left">
                                        Công ty TNHH Thương mại và dịch vụ Trường Mai
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <i class="la la-angle-right text-primary"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/product" class="bg-white border d-block text-reset rounded p-2 hov-shadow-md mb-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-4 text-center">
                                    <img src="/img/placeholder.jpg" data-src="" alt="Lò Bánh Tráng Cô Sáu" class="img-fluid img lazyload h-60px" onerror="this.onerror=null;this.src='/img/placeholder.jpg';">
                                </div>
                                <div class="col-6">
                                    <div class="text-truncate-2 pl-3 fs-14 fw-600 text-left">
                                        Chi nhánh công ty cổ phần BNC Nguyễn Trần tại Sơn La
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <i class="la la-angle-right text-primary"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/product" class="bg-white border d-block text-reset rounded p-2 hov-shadow-md mb-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-4 text-center">
                                    <img src="/img/placeholder.jpg" data-src="" alt="Bánh Tráng Dừa" class="img-fluid img lazyload h-60px" onerror="this.onerror=null;this.src='/img/placeholder.jpg';">
                                </div>
                                <div class="col-6">
                                    <div class="text-truncate-2 pl-3 fs-14 fw-600 text-left">
                                        Công ty TNHH Thành Cương Sơn La
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <i class="la la-angle-right text-primary"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/product" class="bg-white border d-block text-reset rounded p-2 hov-shadow-md mb-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-4 text-center">
                                    <img src="/img/placeholder.jpg" data-src="" alt="Beany Food" class="img-fluid img lazyload h-60px" onerror="this.onerror=null;this.src='/img/placeholder.jpg';">
                                </div>
                                <div class="col-6">
                                    <div class="text-truncate-2 pl-3 fs-14 fw-600 text-left">
                                        Công ty TNHH Một thành viên Đạt Thủy
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <i class="la la-angle-right text-primary"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/product" class="bg-white border d-block text-reset rounded p-2 hov-shadow-md mb-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-4 text-center">
                                    <img src="/img/placeholder.jpg" data-src="" alt="Monomi" class="img-fluid img lazyload h-60px" onerror="this.onerror=null;this.src='/img/placeholder.jpg';">
                                </div>
                                <div class="col-6">
                                    <div class="text-truncate-2 pl-3 fs-14 fw-600 text-left">
                                        HTX Nông nghiệp Quyết Thanh Mộc Châu
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <i class="la la-angle-right text-primary"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/product" class="bg-white border d-block text-reset rounded p-2 hov-shadow-md mb-2">
                            <div class="row align-items-center no-gutters">
                                <div class="col-4 text-center">
                                    <img src="/img/placeholder.jpg" data-src="" alt="OnlyTee" class="img-fluid img lazyload h-60px" onerror="this.onerror=null;this.src='/img/placeholder.jpg';">
                                </div>
                                <div class="col-6">
                                    <div class="text-truncate-2 pl-3 fs-14 fw-600 text-left">
                                        HTX Hoa quả Quyết Tâm
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <i class="la la-angle-right text-primary"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
